<?xml version="1.0" encoding="UTF-8"?>
<settings>
	<setting id="1" name="DISPLAY_REAL_WORLD_TIME" type="boolean" default="false">false</setting>
	<setting id="2" name="DISPLAY_IN_GAME_TIME" type="boolean" default="false">false</setting>
	<setting id="3" name="DISPLAY_PLAY_TIME" type="boolean" default="true">true</setting>
	<setting id="4" name="DISPLAY_MAP_NAME" type="boolean" default="true">true</setting>
	<setting id="5" name="DISPLAY_WORLD_NAME" type="boolean" default="true">true</setting>
	<setting id="6" name="DISPLAY_REGION_NAME" type="boolean" default="true">true</setting>
	<setting id="7" name="DISPLAY_LOCATION" type="boolean" default="true">true</setting>
	<setting id="8" name="DISPLAY_ORIENTATION" type="boolean" default="true">true</setting>
	<setting id="9" name="FULLSCREEN" type="boolean" default="true">true</setting>
	<setting id="10" name="RESOLUTION" type="string" default="1366 x 768">1280 x 600</setting>
	<setting id="11" name="DISPLAY_GRID" type="boolean" default="true">true</setting>
	<setting id="12" name="GRID_COLOR" type="color" default="0,0,0">0,51,204</setting>
	<setting id="13" name="GRID_WIDTH" type="string" default="1">4</setting>
	<setting id="14" name="UI_OPACITY" type="int" default="100">50</setting>
	<setting id="15" name="UI_COLOR_TOOL_BACKGROUND" type="color" default="31,38,92">255,255,0</setting>
	<setting id="16" name="UI_COLOR_TOOL_SELECTED" type="color" default="14,21,70">0,0,153</setting>
	<setting id="17" name="UI_COLOR_TOOL_HOVER" type="color" default="21,40,179">0,255,255</setting>
	<setting id="100" name="SOUND" type="boolean" default="true">true</setting>
	<setting id="101" name="SFXVOLUME" type="int" default="100">100</setting>
	<setting id="102" name="AMBIENTVOLUME" type="int" default="100">100</setting>
	<setting id="103" name="MUSIC" type="boolean" default="true">true</setting>
	<setting id="104" name="MUSICVOLUME" type="int" default="100">100</setting>
	<setting id="200" name="FILE_MAPS" type="string" default="W:/workspace/Data/nova/data/maps/maps.xml">W:/workspace/Data/nova/data/maps/maps.xml</setting>
	<setting id="201" name="FILE_TEXTURES" type="string" default="nova/balboa/examples/textures.xml">nova/balboa/examples/textures.xml</setting>
	<setting id="202" name="FILE_PROTO" type="string" default="W:/workspace/Data/nova/data/proto/proto.xml">W:/workspace/Data/nova/data/proto/proto.xml</setting>
	<setting id="203" name="FILE_MODELS" type="string" default="W:/workspace/Data/nova/data/models/models.xml">W:/workspace/Data/nova/data/models/models.xml</setting>
	<setting id="204" name="DEBUG" type="string" default="Error">Error</setting>
	<setting id="205" name="CACHE_TEXTURES" type="string" default="W:/cache/textures">W:\cache\textures</setting>
	<setting id="206" name="FILE_LOG_GAME_QUESTS" type="string" default="W:/logs/log_quests.xml">W:\logs\log_quests.xml</setting>
	<setting id="207" name="FILE_LOG_GAME_DIALOG" type="string" default="W:/logs/logs_dialog.xml">W:\logs\logs_dialog.xml</setting>
	<setting id="208" name="FILE_LOG_SYSTEM_INFO" type="string" default="W:/logs/logs_info.xml">W:\logs\logs_info.xml</setting>
	<setting id="209" name="FILE_LOG_SYSTEM_DEBUG" type="string" default="W:/logs/logs_debug.xml">W:\logs\logs_debug.xml</setting>
	<setting id="210" name="FILE_LOG_SYSTEM_ERROR" type="string" default="W:/logs/logs_error.xml">W:\logs\logs_error.xml</setting>
	<setting id="211" name="FILE_ICONS" type="string" default="W:/workspace/Data/nova/data/icons/icons.xml">W:\workspace\Data\nova\data\icons\icons.xml</setting>
	<setting id="212" name="FILE_LANDCOVER" type="string" default="W:/workspace/Data/nova/data/landcover/landcover.xml">W:\workspace\Data\nova\data\landcover\landcover.xml</setting>
	<setting id="300" name="KEY_BINDING_FORWARD" type="key" default="w">w</setting>
	<setting id="301" name="KEY_BINDING_BACKWARD" type="key" default="s">s</setting>
	<setting id="302" name="KEY_BINDING_TURN_LEFT" type="key" default="">q</setting>
	<setting id="303" name="KEY_BINDING_TURN_RIGHT" type="key" default="">e</setting>
	<setting id="304" name="KEY_BINDING_STRAFE_LEFT" type="key" default="a">a</setting>
	<setting id="305" name="KEY_BINDING_STRAFE_RIGHT" type="key" default="d">d</setting>
	<setting id="306" name="KEY_BINDING_RUN" type="key" default="shift">shift</setting>
	<setting id="307" name="KEY_BINDING_JUMP" type="key" default="space">space</setting>
	<setting id="308" name="KEY_BINDING_MENU" type="key" default="escape">escape</setting>
	<setting id="309" name="KEY_BINDING_MOUSELOOK" type="key" default="c">c</setting>
	<setting id="320" name="KEY_BINDING_PAN_UP" type="key" default="w">w</setting>
	<setting id="321" name="KEY_BINDING_PAN_DOWN" type="key" default="s">s</setting>
	<setting id="322" name="KEY_BINDING_PAN_LEFT" type="key" default="a">a</setting>
	<setting id="323" name="KEY_BINDING_PAN_RIGHT" type="key" default="d">d</setting>
</settings>

